@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-slate-200

}

#root{
    animation: fadeIn 0.5s
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}